# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Django
*.sqlite3
*.log
*.pot
*.py[cod]
*.swp
.DS_Store
db.sqlite3

# Environment
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# React
build/